.action-btn {
    display: block;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 54px;
    padding-right: 54px;
    border: 1px solid #C4C4C4;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
}